# Dependencies
node_modules/
/.pnp
.pnp.*

# Next.js & Build outputs
.next/
out/
build/
dist/
.vercel/

# Environment files & Secrets
.env
.env.local
.env*.local
*.env
# Hardware & Secrets
Hardware/waterPump/credentials.h
credentials.h
supabase_temp/

# Debug logs & OS files
*.log
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo
next-env.d.ts

